@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

body {
  color: #fff;
  background-color: #111111;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  height: 48px;
}

main {
  flex: 1;
}

.background-video {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
  top: 0;
  padding: none;
  position: absolute;
  left: 0;
  z-index: 0.5;
  background-color: #242424;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  outline: 0;
  height: 280px;
  transition: 100ms;
  position: relative;
  width: 100%;
  /* overflow: hidden; */
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.button-invisible {
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0);
  border: none;
  outline: none;
  z-index: 2;
  position: absolute;
  box-shadow: inset 0px 0px 0px 4px #111111;
  transition: 150ms;
  opacity: 0;
}

.button-invisible:hover {
  opacity: 1;
  box-shadow: inset 0px 0px 0px 3px #f6f7a8;
}

.button-invisible:active {
  box-shadow: inset 0px 0px 0px 1px #f6f7a8;
}

.span-unmute {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 700;
  padding: 12px 16px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
}

.label-name {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
  left: 0px;
  bottom: 0px;
  padding: 4px 8px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.7);
}

.label-name .icon-16 {
  margin-right: 4px;
}

.cards {
  /* border: 1px dashed salmon; */
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-gap: 16px;
  padding: 16px 16px;
  flex: 1;
  /* justify-content: center; */
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 80px 24px;
  }
}

@media (min-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
